@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Geist Sans';
	src: url('/src/lib/fonts/Geist-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

@theme {
	/* Light Theme */
	--color-background: #fffaf3;
	--color-text: #1f1f1f;
	--color-primary: #f97316;
	--color-accent: #fb923c;
	--color-border: #f3f4f6;
	--color-muted: #6b7280;

	/* Dark Theme */
	--color-background-dark: #323033;
	--color-text-dark: #f8fafc;
	--color-primary-dark: #fca97e;
	--color-accent-dark: #fac898;
	--color-border-dark: #475569;
	--color-muted-dark: #94a3b8;
}

body {
	background-color: var(--color-background);
	font-family: 'Geist Sans', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbars while maintaining functionality */
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

@variant dark {
	body {
		background-color: var(--color-background-dark);
		color: var(--color-text-dark);
	}
}
